DATABASE=your_mongodb_connection_string
PORT=7000
Gmail_user=your_email@gmail.com
Gmail_password=your_email_app_password
JWT_SECRET=your_jwt_secret
Cloudinary_name=your_cloudinary_name
Cloudinary_key=your_cloudinary_key
Cloudinary_secret=your_cloudinary_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
